*{
	margin: 0 auto;
	padding: 0;
}
.login{
	width:1200px;
	margin: 0 auto;
	
}
.user{
	margin: 20px auto;
	width: 900px;
	height: 40px;
	font-size: 14px;
	margin-left: 40px;
	text-align: center;
	float: left;
}
.pass{
	margin: 20px auto;
	margin-left: 40px;
	width: 900px;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	box-sizing:border-box;
	float: right;
	font-size: 14px;float: left;
}
#userName{
	margin: 0 auto;
	width: 600px;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	box-sizing:border-box;
	float: right;
	border: 1px solid #dcdcdc;
	border-radius: 5%;
	
}
#password{
	margin: 0 auto;
	width: 600px;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	box-sizing:border-box;
	float: right;
	border: 1px solid #dcdcdc;
	border-radius: 5%;
}
.submit-box{
	width: 1200px;
	margin: 0 auto;
	float: left;
}
.submit{
	margin: 20px auto;
	width: 100px;
	height: 40px;
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	color: #fff;
	background: #ff5151;
	border: 1px solid #ff5151;
	border-radius: 5%;
}