*{
	margin: 0 auto;
	padding: 0 auto;
}

.child{
	width: 1100px;
	float: right;
}
table{
	border-spacing: 0;
	text-align: left;
	
}
.title{
	margin: 20px auto;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
}
tr{
	border: 1px solid #ccc;
}
td{
	border: 1px solid #ccc;
	line-height: 30px;
	padding: 0 5px;
}
 input{
	border: 0;
	outline: none;
}
.textall{
	resize:none;
	width: 900px;
	outline: none;
	margin-top: 10px;
}
.sign{
	width: 900px;
}
.sign .signl{
	float: left;
}
.sign .signr{
	float: right;
}
.sign .signc{
	clear: both;
}
.sibot{
	margin-bottom: 20px;
	margin-top: 10px;
	text-align: left;
	margin-left: 100px;
}
.case{
	height: 100px;
}
.case textarea{
	outline: none;
	border: 0;
	width: 750px;
	resize:none;
	height: 80px;
	margin-top: 10px;
}
.case-min{
	float: left;
	margin-top: 50px;
	width: 400px;
}
.case-min input{
	width: 100px;
}
.case-minr{
	width: 400px;
	float: right;
	margin-top: 50px;
	text-align: right;
}
.case-minr input{
	width: 40px;
	text-align: center;
}
.case-mp{
	margin-left: 5px;
}
.case-name{
	font-size: 18px;
	line-height: 70px;
	height: 70px;
	border: 0;
	width: 1100px;
	text-align: center;
	overflow: hidden;
}
.case-con{
	display: inline-block;
	outline: none;

}